.out-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1 auto;
    flex-direction: row;
    margin: 0px;
    position: fixed;
    left: 12vw;
  }

.left-div {
    width: 20vw;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    color: var(--sidebar-font);
    height: 100vh;
    overflow: hidden;
    border-right: 1px black solid;
    flex-shrink: 0;
}

.right-div {
    width: 100%;
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    color: var(--sidebar-font);
    height: 100vh;
    overflow: hidden;
    box-sizing: content-box;

}

.trash {
    color: red;
    padding: 10px;
    cursor: pointer;
}

.pages {
    height: 120px;
    width: 100%;
    background-color: transparent;
    color: var(--sidebar-font);
    border-bottom: 1px solid var(--sidebar-highlight);

    box-sizing: border-box;

    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    cursor: pointer;
}

.pages:hover {
    background-color:rgba(58, 58, 58, .3);
}

.page-count {
    font-family: soleil, sans-serif;
    font-size: 12px;
}

.title-view {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--sidebar-highlight);
}

.title {
    color: var(--lighter-alabaster);
    font-family: soleil, sans-serif;
    font-size: 20px;
    font-weight: 310;
    padding-bottom: 12px;
}

.notebook-dongles {
    display: flex;
    justify-content: space-between;
    max-height: 50px;
}

.page-active {
    box-sizing: border-box;
    border: 2px solid var(--sidebar-font);
    background-color:rgba(58, 58, 58, .3);
    padding: 15px;
}

.page-active:last-child {
    border-bottom: 2px solid var(--sidebar-font);
}

.notebook-options-dropdown {
    position: relative;
}

.profile-dropdown {
    width: 9em;
    background-color: var(--sidebar-highlight);
    border-radius: 3px;
    padding: 12px;

    right: 1em;

    position: absolute;

    line-height: 2em;
    font-family: soleil, sans-serif;
    font-size: 14px;
    color: white;
}

.profile-dropdown > *:hover {
    background-color: var(--dropdown-highlight);
}

.page-small-title {
    font-weight: bold;
    font-family: soleil, sans-serif;
    font-size: 14px;
    color: white;
    padding-bottom: 10px;
}

.preview {
    font-family: soleil, sans-serif;
    font-size: 14px;
    color: var(--sidebar-font);
}

.page-date {
    font-family: soleil, sans-serif;
    font-size: 12px;
    color: var(--sidebar-font);
}



/* PAGES.JS!!! */

.above-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.left-icons {
    display: flex;
}

.nb-title-book {
    margin-left: 10px;
}

.nb-title {
    margin-left: 5px;
    font-family: soleil, sans-serif;
    font-size: 13px;
}

.page-icon {
    margin-right: 18%;
    font-size: 15px;
    background-color: transparent;
}

.page-title-date {
    font-family: soleil, sans-serif;
    font-size: 14px;
    margin-left: 12px;
}

.contain-the-top-shiz {
    max-height: 58px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(204, 204, 204, .3);
}

/* This is the title in edit mode */
.page-title {
    background-color: #333;
    border: 0;
    font-family: Source Sans Pro,-apple-system,system-ui,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 30px;
    font-weight: 650;
    line-height: 40px;
    outline: none;
    width: 100%;
}

.page-title::placeholder {
    color: var(--sidebar-font);
}

/* title in unedit mode */
.main-page-title {
    font-family: Source Sans Pro,-apple-system,system-ui,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    outline: none;
    /* padding-bottom: 4px; */
    width: 100%;
    margin-left: 35px;
}

.grey {
    color: var(--sidebar-font)
}

.white {
    color: white;
}

.page-contents {
    background-color: #333;
    border: 0;
    resize: none;
    border: none;
    overflow: hidden;
    outline: none;
    white-space: pre-line;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    font-family: soleil, sans-serif;
    font-size: 16px;

    width: 80%;
    height: auto;

}

.editing-page {
    max-height: 100%;
}
