.out-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1 auto;
    flex-direction: row;
    margin: 0px;
    position: fixed;
    left: 15vw;
  }

.left-div {
    width: 27vw;
    min-width: 27vw;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    color: var(--sidebar-font);
    height: 100vh;
    overflow: hidden;
    box-sizing: content-box;
}

.right-div {
    width: 100%;
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    color: var(--sidebar-font);
    height: 100vh;
    overflow: hidden;
    box-sizing: content-box;

}

.trash {
    color: red;
    padding: 10px;
    cursor: pointer;
}

.pages {
    padding: 30px;
    background-color: transparent;
    color: var(--sidebar-font);
    border: 0;
    border-top: 1px solid var(--sidebar-highlight);
}

.pages:last-child {
    border-bottom: 1px solid var(--sidebar-highlight);
}

/* .page-active {
    border: 2px solid var(--sidebar-font);
} */
