.sidebar-wrap {
    width: 12vw;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: var(--sidebar-body);

}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 30vh;

    color: var(--sidebar-font);
    font-family: soleil, sans-serif;
}

.sidebar > * {
    padding-left: 10px;
}

body {
    overscroll-behavior-block: none;
}

.user-dropdown {
    font-weight: bold;
    display: flex;
    cursor: pointer;

    height: 20px;
    position: relative;
}


#logout-div {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 10px;
    /* border-bottom: 1px solid var(--sidebar-font); */

    background-color: #333;
    box-shadow: 0px 5px 5px rgb(28, 28, 28);

    width: 150px;
    position: absolute;
    margin-left: 4vw;
    margin-top: 2vh;
    z-index: 1000;

    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#account {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: soleil, sans-serif;
}

.dropdown-button {
    cursor: pointer;
}

#main-username {
    margin-right: 7px;
}

#logout {
    width: 100%;
    text-align: left;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

}

#logout-div {
    background-color: var(--sidebar-highlight);
    border-radius: 3px;
    padding: 5px;
}

.user-name {
    font-size: 17px;
}

.user-email {
    font-size: 12px;
}

.user-name,
.user-email {
    line-height: 1em;
    font-family: soleil, sans-serif;
}

.username-block {
    line-height: .5em;
    color: var(--sidebar-font);
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(204, 204, 204, .3);
}


.notebook-dropdown {
    display: flex;
    flex-direction: column;
}


.notebook-li {
    text-decoration: none;
    color: var(--sidebar-font);
    font-size: 14px;
    line-height: 1.4em;
    font-weight: bold;

    padding: 3px 0px 3px 30px;
}

#new-notebook {
    color: var(--evernote-green);
    font-weight: bold;
    font-size: 14px;
}

#trash-link {
    font-weight: bold;
    text-decoration: none;
}

.navlink {
    color: var(--sidebar-font);
    padding-top: 6px;
    padding-bottom: 6px;
}

.sb-active {
    background-color: var(--sidebar-highlight);
}

.user-image,
#user-image {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.user-image {
    margin-left: 5%;
    margin-right: 2.5%;
}

#user-image {
    margin-right: 2.5%;
}
