.sidebar {
    width: 15vw;
    min-width: 15vw;
    background-color: var(--sidebar-body);
    display: flex;
    flex-direction: column;
    color: var(--sidebar-font);
    height: 100vh;
    position: fixed;
    left: 0;
}

body {
    overscroll-behavior-block: none;
}

.notebook-dropdown {
    list-style: none;
}

.notebook-dropdown:hover {
    list-style: none;
}

.notebook-li {
    text-decoration: none;
    color: var(--sidebar-font);
    font-size: 14px;
    line-height: 1.4em;
    font-weight: bold;
}

#new-notebook {
    color: var(--evernote-green);
    font-weight: bold;
    font-size: 14px;
}

#trash-link {
    font-weight: bold;
}
