.sidebar {
    width: 15vw;
    min-width: 15vw;
    background-color: var(--sidebar-body);
    display: flex;
    flex-direction: column;
    color: var(--sidebar-font);
    height: 100vh;
    position: fixed;
    left: 0;
    font-family: soleil, sans-serif;
}

body {
    overscroll-behavior-block: none;
}

.user-dropdown {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.logout-div {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--sidebar-font);
    margin-bottom: 10px;
}

.sb-active {
    background-color: var(--sidebar-highlight);
}

#account {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: soleil, sans-serif;
}

.home-button {
    padding: 10px;
}

.dropdown-button {
    padding: 10px;
    cursor: pointer;
}

/* #account,
.username,
#logout {
    padding: 10px;
    color: var(--sidebar-font);
    background-color: transparent;
    font-weight: bold;
} */

#main-username {
    margin-right: 7px;
}

#logout {
    width: 100%;
    text-align: left;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

}

#logout-div {
    background-color: var(--sidebar-highlight);
    border-radius: 3px;
    padding: 5px;
}

.user-name {
    font-size: 17px;
}

.user-email {
    font-size: 12px;
}

.user-name,
.user-email {
    line-height: 1em;
    font-family: soleil, sans-serif;
}

.username-block {
    line-height: .5em;
    color: var(--sidebar-font);
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(204, 204, 204, .3);
}


.notebook-dropdown {
    list-style: none;
}

.notebook-dropdown:hover {
    list-style: none;
}

.notebook-li {
    text-decoration: none;
    color: var(--sidebar-font);
    font-size: 14px;
    line-height: 1.4em;
    font-weight: bold;
}

#new-notebook {
    color: var(--evernote-green);
    font-weight: bold;
    font-size: 14px;
}

#trash-link {
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.navlink {
    color: var(--sidebar-font)
}

.user-image,
#user-image {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.user-image {
    margin-left: 5%;
    margin-right: 2.5%;
}

#user-image {
    margin-right: 2.5%;
}
