.search {
    width: 90%;
}

#unactive-search {
    display: flex;
    align-items: center;
    background-color: var(--sidebar-highlight);
    border-radius: 40px;
    width: 90%;
    height: 40px;

}

#unactive-search > i,
#active-search > i {
    padding-left: 10px;
}

/* wass unactive-search-inputs */
.unactive-search-input {
    background: var(--sidebar-highlight);

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    caret-color: var(--gray90);
    color: var(--gray90);
    font-size: 14px;
    height: 30px;
    padding: 0 5px 0 10px;

    width: 100%;
    border: 0;
    outline: none;

    display: flex;
    align-items: center;
    background-color: var(--sidebar-highlight);
    border-radius: 40px;
    width: 90%;
    height: 40px;
}

/* Contains: search box, icons, input, and data results */
#active-search-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    background-color: var(--gray20);
    min-height: auto
}

/* this is the part that contains the icon & input */
#active-search {
    border-radius: 4px;
    background-color: var(--gray20);

    display: flex;
    align-items: center;
    width: 95%;
    height: 40px;
}

/* #active-search:hover {
    border: 1px solid var(--white);
} */

#active-search-input {
    background-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    caret-color: var(--gray90);
    color: var(--gray90);
    font-size: 14px;
    height: 30px;
    padding: 0 5px 0 10px;

    width: 85%;
    border: 0;
    outline: none;
}

.data-result {
    max-width: 100%;
    background-color: var(--gray20);
    box-sizing: border-box;
}

.data-item {
    padding: 4px 0px 2px 0px;
    display: flex;
    height: 25px;
    background-color: transparent;
    text-decoration: none;
    color: var(--gray90);
    text-overflow: ellipsis;
    word-break: break-all;
}

.data-item > p {
    text-overflow: ellipsis;
    word-break: break-all;
}

.data-item > i {
    padding-left: 10px;
    padding-right: 10px;
}

.fa-x {
    cursor: pointer;
}
