.no-trashed-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 90%;
    font-family: soleil, sans-serif;
}

.no-trashed-pages > p {
    text-align: center;
    line-height: 1.5em;
}

#trash-empty {
    margin-bottom: 4%;
    color: white;
}

#big-trash {
    font-size: 80px;
    margin-bottom: 10%;
    color: rgba(204, 204, 204, .3);
}

.above-trash {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 1%;

    height: 97px;

    border-bottom: 1px solid rgba(204, 204, 204, .3);

}

.restore {
    margin-right: 18%;
    margin-bottom: 1%;

}

.note-in-trash {
    background-color: var(--gray80);
    border-radius: 16px;
    color: black;

    font-family: soleil, sans-serif;
    text-align: center;


    padding: 4px 16px 4px 16px;
    margin: -4px 10px -4px 0;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
}

.separate-trash {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 2.5%;
}
